body {
    background-color: blue;
}

.title {
    padding: 50px 50px 50px 50px;
}

.submitButton {
    padding-top: 20px;
}

.results {
    padding: 10px 10px 10px 10px;
}

.tempTitle {
    padding: 10px 10px 10px 10px;
}

.form-check {
    padding: 10px 10px 40px 10px;
}

#clearButton {
    padding-top: 20px;
}